// COLOR PALETTE
$white: #ffffff;
$black: #000000;
$gray500: #a39da9;
$gray300: #c5c9cc;
$gray100: #f5f3f7;
$gray50: #fafafa;
$purple950: #3e2753;
$purple600: #9341c8;
$purple300: #d99eff;
$purple50: #eee5f4;
$pink400: #e472ff;

// SEMANTIC VALUES
$clr-heading: $purple950;
$clr-body-text: $gray500;
$clr-sent-bg: $purple50;
$clr-sent-text: $purple600;
$clr-white: $white;
$clr-black: $black;
$clr-circle: $pink400;
$clr-screen-bg: $gray100;
$clr-placeholder: $gray300;
$clr-availability: $purple300;
